{:deps {org.clojure/clojure             {:mvn/version "1.8.0"}
        ;org.clojure/clojurescript  {:mvn/version "1.9.946"}
        io.pedestal/pedestal.service    {:mvn/version "0.5.1"}
        io.pedestal/pedestal.route      {:mvn/version "0.5.1"}
        io.pedestal/pedestal.jetty      {:mvn/version "0.5.1"}
        ;org.slf4j/slf4j-simple   {:mvn/version "1.7"}
  }

 :aliases {:run        {:main-opts ["-m" "github.server"]}
           :figwheel   {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                                     cider/cider-nrepl       {:mvn/version "0.17.0"}
                                     com.cemerick/piggieback {:mvn/version "0.2.2"}
                                     figwheel-sidecar        {:mvn/version "0.5.14"}}
                        :main-opts ["-e" "(use,'figwheel-sidecar.repl-api),(start-figwheel!)"]}
           :repl       {:extra-deps {;; Figwheel ClojureScript REPL com.
                                     cemerick/piggieback     {:mvn/version "0.2.2"  :exclusions [com.google.javascript/closure-compiler]}
                                     figwheel-sidecar        {:mvn/version "0.5.14" :exclusions [com.google.javascript/closure-compiler]}
                                     ;; CIDER compatible nRE PL
                                     cider/cider-nrepl       {:mvn/version "0.15.1"}
                                     org.clojure/toolspl     {:mvn/version "0.2.12"}
                                     refactor-nrepl          {:mvn/version "2.3.1"}}}}}
